- content_for :title do
	== New Portrait Image (#{params[:locale]}) &laquo; Admin

#bread
	#crumbs
		Quick Edit Navigation &raquo;
		%span= link_to "Portrait Images", portraits_path(params[:locale], params[:id])
				
%h2
	== New Portrait Image (#{params[:locale]})

= form_for resource, :html => { :multipart => true } do |f|

	= render "form", :f => f
	
	= f.submit "Save"
	= link_to "Cancel", collection_url(params[:locale], @portrait)