- content_for :title do
	== #{I18n.t :title, :scope => [:availability]} &laquo; #{@apartment.name} &laquo; #{I18n.t :title, :scope => [:apartments]}
	
#apartment
	.border
		.header
			.back
				= link_to apartment_path(params[:locale], params[:apartment_id]) do
					== &larr; #{I18n.t :back, :scope => [:availability]}
			.title
				= @apartment.name
				
		.box
			.availability
				%h2= I18n.t :title, :scope => [:availability]
				
				%p== #{I18n.t :updated_1, :scope => [:availability]} #{mail_to "beefandfrog@yahoo.com", (I18n.t :contact, :scope => [:availability]), :encrypt => :hex} #{I18n.t :updated_2, :scope => [:availability]}
				
				#key
					%table.key
						%tr
							%td{:style => "padding:0 20px 0 2px;font-weight:bold;"} Key:
							%td= image_tag "booked_day.jpg", :width => "20px", :height => "20px", :class => "grey_border"
							%td{:style => "padding:0 20px 0 2px;"} Booked
							%td= image_tag "checkin_day.jpg", :width => "20px", :height => "20px", :border => "1px"
							%td= image_tag "checkout_day.jpg", :width => "20px", :height => "20px", :border => "1px"
							%td{:style => "padding:0 20px 0 2px;"} Arrival/Departure
							%td= image_tag "available_day.jpg", :width => "20px", :height => "20px", :border => "1px"
							%td{:style => "padding:0 20px 0 2px;"} Available
				
				#calendar
					%table
						- month_count = 0
						- remaining_months = 12 - Time.now.month
						- row = 1
						- until row == 5
							%tr
							- row += 1
							- col = 1
							- until col == 4
								- col += 1
								%td= calendar_availability(@bookings, (remaining_months < 0 ? Time.now.year + 1 : Time.now.year), month_count.month.from_now.month, 1)
								- month_count += 1
								- remaining_months -= 1

						/ %tr
						/ 	%td= calendar_availability(@bookings, Time.now.year, Time.now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 1.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 2.month.from_now.month, 1)
						/ %tr
						/ 	%td= calendar_availability(@bookings, Time.now.year, 3.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 4.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 5.month.from_now.month, 1)
						/ %tr
						/ 	%td= calendar_availability(@bookings, Time.now.year, 6.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 7.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 8.month.from_now.month, 1)
						/ %tr
						/ 	%td= calendar_availability(@bookings, Time.now.year, 9.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 10.month.from_now.month, 1)
						/ 	%td= calendar_availability(@bookings, Time.now.year, 11.month.from_now.month, 1)
