- content_for :title do
	== Photos (#{params[:locale]}) &laquo; Admin

#bread
	#crumbs
		Quick Edit Navigation &raquo;
		%span= link_to @apartment.name, edit_apartment_path(params[:locale], params[:apartment_id])
		%span &raquo; Photos

%h2
	== List of Photos (#{params[:locale]})
		
#photos
	%table
		%tr
			%td{:style => "width: 50px;"} Order No.
			%td{:style => "width: 80px;"} Featured?
			%td{:style => "width: 250px;"} Description
			%td{:style => "text-align:right;width:220px;"} Image
			%td
			%td
			
		- @photos.each do |photo|		
			%tr
				%td= photo.order_no
				%td= "yes" if photo.featured == true
				%td= photo.description
				%td
					- if photo.image.present?
						= image_tag photo.image.url(:list)
					- else
						No image saved
				%td{:style => "text-align:right;width:100px;"}
					= link_to "edit", edit_apartment_photo_path(params[:locale], params[:apartment_id], photo.id)
					= link_to 'destroy', apartment_photo_path(params[:locale], params[:apartment_id], photo.id), :confirm => 'Are you sure?', :method => :delete
	
	%p= link_to "Add new photo", new_apartment_photo_path(params[:locale], params[:apartment_id])
