- content_for :title do
	= I18n.t :contact, :scope => [:apartments]
	
#contact
	%h2= I18n.t :contact, :scope => [:apartments]
	
	- if !@about.nil?
		%p= markdown(@about.contact)

	%p.contact== #{I18n.t :contact_text, :scope => [:contact]} #{mail_to "beefandfrog@yahoo.com", (I18n.t :email, :scope => [:apartments]).downcase, :encode => "hex"}.

	= form_for @support, :url => { :action => :create }, :html => { :method => :post, :autocomplete => "off", :class => "new_support", :id => "new_support" } do |f|

		%hr
		
		- if @support.errors.any?
			.error_messages
				%h2 The contact form is incomplete, please correct the following errors:
				%ul
					- for message in @support.errors.full_messages
						%li= message
		
		%table#contact
			%tr
				%td.label= f.label :type, (I18n.t :type, :scope => [:contact])
				%td
					= f.select :type, @types, :selected => f.object.type
					
			%tr
				%td.label= f.label :apartment, (I18n.t :apartment, :scope => [:contact])
				%td
					= f.select :apartment, Apartment.desc(:name).collect {|p| [ p.name, p.name ] }
					
			%tr
				%td.label= f.label :name, (I18n.t :your_name, :scope => [:contact])
				%td
					= f.text_field :name, :size => 50, :maxlength => 100

			%tr
				%td.label= f.label :email, (I18n.t :your_email, :scope => [:contact])
				%td
					= f.text_field :email, :size => 50, :maxlength => 250

			%tr
				%td.label{:style => "vertical-align: top;"}= f.label :content, (I18n.t :questions, :scope => [:contact])
				%td
					= f.text_area :content, :cols => 50, :rows => 8

		#update
			.actions
				= f.submit (I18n.t :send_request, :scope => [:contact]), :class => 'button account'
				%br
				%br

