- content_for :title do
	== Edit About Us, Apartments & Contact Us pages (#{params[:locale]}) << Admin

#bread
	#crumbs
		Quick Edit Navigation &raquo;
		%span= link_to "Edit About Us / Apartments / Contact Us", edit_about_path(params[:locale])

%h2== Edit About Us & Apartments pages (#{params[:locale]})

= form_for resource, :url => about_path(params[:locale], resource) do |f|
	
	%h4 About Us page
	%table
		%tr
			%td{:style => "color:white;"}= f.label :about, "About page content"
			%td= f.text_area :about, :size => "90x30"
	
	%h4 Apartments page (above and below apartments listings)
	%table
		%tr
			%td{:style => "color:white;"}= f.label :apartments_top, "Top of apartments page content"
			%td= f.text_area :apartments_top, :size => "90x15"
		%tr
			%td{:style => "color:white;"}= f.label :apartments_bottom, "Bottom of apartments page content"
			%td= f.text_area :apartments_bottom, :size => "90x15"

	%h4 Contact Us page
	%table
		%tr
			%td{:style => "color:white;"}= f.label :contact, "Contact page content"
			%td= f.text_area :contact, :size => "90x15"
	
	= f.submit "Update"
	= link_to "Cancel", :back