- content_for :title do
	= I18n.t :title, :scope => [:apartments]

#apartments
	= markdown(@about.apartments).html_safe

	.border
		- @apartments.each do |apartment|
			.box
				.image
					- @featured_count = 1
					- @photos.each do |photo|
						- if (photo.apartment_id == apartment.id) and (@featured_count < 2)
							= link_to image_tag(photo.image.url(:list), :width => "220px", :height => "165px", :alt => apartment.name), apartment_path(params[:locale], apartment)
							- @featured_count += 1
						- elsif (photo.apartment_id != apartment.id) and (@featured_count < 2)
							= link_to image_tag("fallback/list_default.png", :width => "220px", :height => "165px", :alt => "apartment.name"), apartment_path(params[:locale], apartment)
							- @featured_count += 1

				.title
					= apartment.name
					.button= link_to "View Details", apartment_path(params[:locale], apartment)
				- if !apartment.price.nil?
					.price
						== #{I18n.t :price, :scope => [:apartments]}:
						%strong== #{sprintf("%#1.2f", apartment.price)}€
						%span.note= I18n.t :price_note, :scope => [:apartments]
				.details
					- if apartment.sleeps.present?
						%p== #{I18n.t :sleeps, :scope => [:apartments]}: #{apartment.sleeps}
					- if apartment.studio == false and apartment.bedrooms.present?
						%p== #{I18n.t :bedrooms, :scope => [:apartments]}: #{apartment.bedrooms}
					- if apartment.bathrooms.present?
						%p== #{I18n.t :bathrooms, :scope => [:apartments]}: #{apartment.bathrooms}
					- if apartment.studio == false and apartment.sitting_room == true
						%p= I18n.t :sitting_room, :scope => [:apartments]
					- if apartment.kitchen == true
						%p= I18n.t :kitchen, :scope => [:apartments]
					- if apartment.size.present?
						%p== #{I18n.t :size, :scope => [:apartments]}: #{apartment.size} m&sup2;
				
				- if apartment.description_short.present?
					.description
						= markdown(apartment.description_short)