- content_for :title do
	== #{resource.name} &laquo; #{I18n.t :title, :scope => [:apartments]}

- content_for :head do
	= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false", "gmap3.min", "galleria-1.2.6.min", "gmap3"
	
#apartment
	.border
		.header
			#availability
				.button
					= link_to (I18n.t :check_availability, :scope => [:apartments]), apartment_availability_index_path(params[:locale], params[:id])
			.back
				= link_to apartments_path(params[:locale]) do
					== &larr; #{I18n.t :back, :scope => [:apartments]}
			.title
				= resource.name
			.details
				== #{I18n.t :apartment, :scope => [:apartments]}
				- if resource.sleeps.present?
					== - #{I18n.t :sleeps, :scope => [:apartments]} #{resource.sleeps}
				- if resource.studio == true
					== - #{I18n.t :studio, :scope => [:apartments]}
				- else
					- if resource.bedrooms.present?
						== - #{I18n.t :bedrooms, :scope => [:apartments]} #{resource.bedrooms}
					- if resource.bathrooms.present?
						== - #{I18n.t :bathrooms, :scope => [:apartments]} #{resource.bathrooms}
				- if resource.kitchen == true
					== - #{I18n.t :kitchen, :scope => [:apartments]}
		.box
			.summary
				#gallery
					- if @photos.empty?
						= image_tag "fallback/apartment_default.png", :alt => resource.name
					- else
						- @photos.each do |photo|
							= image_tag photo.image.url(:apartment), :alt => photo.description
						= render "shared/script/galleria"
				.details
					%h2= I18n.t :details, :scope => [:apartments]
					- if resource.sleeps.present?
						%p== #{I18n.t :sleeps, :scope => [:apartments]}: #{resource.sleeps}
					- if resource.studio == false and resource.bedrooms.present?
						%p== #{I18n.t :bedrooms, :scope => [:apartments]}: #{resource.bedrooms}
					- if resource.bathrooms.present?
						%p== #{I18n.t :bathrooms, :scope => [:apartments]}: #{resource.bathrooms}
					- if resource.studio == false and resource.sitting_room == true
						%p= I18n.t :sitting_room, :scope => [:apartments]
					- if resource.kitchen == true
						%p= I18n.t :kitchen, :scope => [:apartments]
					- if resource.size.present?
						%p== #{I18n.t :size, :scope => [:apartments]}: #{resource.size} m&sup2;
					
					%h2.others= I18n.t :price, :scope => [:apartments]
					- if !resource.price.nil?
						%p
							== #{I18n.t :price, :scope => [:apartments]}:
							%strong== #{sprintf("%#1.2f", resource.price)}€
							%span.note= I18n.t :price_note, :scope => [:apartments]
										
				.location
					%h2= I18n.t :location, :scope => [:apartments]
					.map
					
					.contact
						%h2.others= I18n.t :contact, :scope => [:apartments]
						%p
							%strong= I18n.t :bef, :scope => [:apartments]
						%p.languages English, Français, Português, Español, Italiano, Deutsch
						%p
							%strong== #{I18n.t :telephone, :scope => [:apartments]}:
							+351 210197894
						%p
							%strong== #{I18n.t :mobile, :scope => [:apartments]}:
							+351 965829945
						%p
							%strong= (I18n.t :follow_us_on, :scope => [:apartments])
							= link_to image_tag("icon_facebook.jpg", :size => "24x24", :style => "vertical-align:middle"), "http://facebook.com/beefandfrog"
						%p== #{mail_to "beefandfrog@yahoo.com", (I18n.t :email, :scope => [:apartments]), :encode => :hex} #{(I18n.t :or, :scope => [:apartments])} #{link_to (I18n.t :contact_form, :scope => [:apartments]), new_support_path(:apartment => params[:id])}

		- if resource.description_long.present?
			.box
				.description_long
					%h2 Description
					= markdown(resource.description_long)
