- content_for :title do
	== #{resource.name} << #{I18n.t :title, :scope => [:apartments]}

- content_for :head do
	= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false", "gmap3.min.js"
		
/ - content_for :script do
/ 	<script type="text/javascript">
/ 	= raw "//<![CDATA["
/ 	= raw show_map(resource.latitude, resource.longitude, 5)
/ 	= raw "//]]>"
/ 	</script>
	
#apartment
	.border
		.header
			.back
				= link_to apartments_path(params[:locale]) do
					== &larr; #{I18n.t :back, :scope => [:apartments]}
			.title= resource.name
			.details
				== #{I18n.t :apartment, :scope => [:apartments]}
				- if resource.sleeps.present?
					== - #{I18n.t :sleeps, :scope => [:apartments]} #{resource.sleeps}
				- if resource.studio == true
					== - #{I18n.t :studio, :scope => [:apartments]}
				- else
					- if resource.bedrooms.present?
						== - #{I18n.t :bedrooms, :scope => [:apartments]} #{resource.bedrooms}
					- if resource.bathrooms.present?
						== - #{I18n.t :bathrooms, :scope => [:apartments]} #{resource.bathrooms}
				- if resource.kitchen == true
					== - #{I18n.t :kitchen, :scope => [:apartments]}
		.box
			.summary
				.photos= image_tag "photos.jpg", :width => "320px", :height => "240px"
				.details
					%h2= I18n.t :details, :scope => [:apartments]
					- if resource.sleeps.present?
						%p== #{I18n.t :sleeps, :scope => [:apartments]}: #{resource.sleeps}
					- if resource.studio == false and resource.bedrooms.present?
						%p== #{I18n.t :bedrooms, :scope => [:apartments]}: #{resource.bedrooms}
					- if resource.bathrooms.present?
						%p== #{I18n.t :bathrooms, :scope => [:apartments]}: #{resource.bathrooms}
					- if resource.studio == false and resource.sitting_room == true
						%p= I18n.t :sitting_room, :scope => [:apartments]
					- if resource.kitchen == true
						%p= I18n.t :kitchen, :scope => [:apartments]
					- if resource.size.present?
						%p== #{I18n.t :size, :scope => [:apartments]}: #{resource.size} m&sup2;
					
					%h2.others= I18n.t :price, :scope => [:apartments]
					- if !resource.price.nil?
						%p
							== #{I18n.t :price, :scope => [:apartments]}:
							%strong== #{sprintf("%#1.2f", resource.price)}€
					
					%h2.others= I18n.t :reviews, :scope => [:apartments]
					.review
						= link_to "http://www.tripadvisor.com", :target => "_blank" do
							See reviews on
							%strong{:style => "color:black"} Trip
							%strong{:style => "color:green"}>< Advisor
					
				.location
					%h2= I18n.t :location, :scope => [:apartments]
					.map
					
					.contact
						%h2.others= I18n.t :contact, :scope => [:apartments]
						%p
							%strong Roland (Beef) and Carlos (Frog)
						%p.languages== #{I18n.t :english, :scope => [:apartments]}, #{I18n.t :french, :scope => [:apartments]}, #{I18n.t :portuguese, :scope => [:apartments]}, #{I18n.t :spanish, :scope => [:apartments]}, #{I18n.t :italian, :scope => [:apartments]}
						%p
							%strong== #{I18n.t :telephone, :scope => [:apartments]}:
							+351
						%p== #{mail_to "beefandfrog@yahoo.com", (I18n.t :email, :scope => [:apartments]), :encode => :hex} #{(I18n.t :or, :scope => [:apartments])} #{link_to (I18n.t :contact_form, :scope => [:apartments]), contact_path()}
		
		.box
			.description
				%h2= I18n.t :description, :scope => [:apartments]
				= markdown(resource.description_long)
				
		.box
			.availability
				%h2= I18n.t :availability, :scope => [:apartments]
				