- content_for :title do
	== Edit General Image (#{params[:locale]}) &laquo; Admin

#bread
	#crumbs
		Quick Edit Navigation &raquo;
		%span= link_to "General Images", images_path(params[:locale], params[:id])
			
%h2
	== Edit General Image (#{params[:locale]})
	
= form_for resource, :url => resource_url(:locale => params[:locale]), :html => { :method => :put, :multipart => true } do |f|

	= render "form", :f => f
	
	= f.submit "Update"
	= link_to "Cancel", resource_url(:locale => params[:locale])