!!! XML
!!! 5
%html{html_attrs('en-gb')}
	%head
		%title
			= (yield(:title) + " | " + I18n.t(:title, :scope => [:general]) || I18n.t(:title, :scope => [:general]))
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
		%meta{"name" => "description", :content => I18n.t(:title, :scope => [:general])}
		%meta{"name" => "author", :content => "Dr Daren Serra Dias Warburton"}
		%meta{"name" => "web_author", :content => "http://www.rocrabbit.com"}
		%meta{"name" => "robots", :content => "index, follow"}
		= stylesheet_link_tag 'application'
		= javascript_include_tag :defaults, 'jquery.corner'
		= favicon_link_tag
		= yield(:head)
		= csrf_meta_tag

	%body
		.container.white
			#header
				= render "shared/logo"
				= render 'shared/navigation/site'
				= render 'shared/navigation/languages'
				
		- if user_signed_in?
			#admin
				#title
					%h3 Edit Menu:
				#menu
					- if controller_name == "about" or (controller_name == "apartments" and action_name == "index")
						%p
							"About Us & Apartments" pages (choose language):
							%span= link_to "en", edit_about_path(:en, @about)
							%span= link_to "pt", edit_about_path(:pt, @about)
							%span= link_to "fr", edit_about_path(:fr, @about)
					- if controller_name == "apartments" and (action_name == "show" or action_name == "edit")
						%p
							"An Apartment"
							%span= link_to "en", edit_apartment_path(:en, params[:id])
							%span= link_to "pt", edit_apartment_path(:pt, params[:id])
							%span= link_to "fr", edit_apartment_path(:fr, params[:id])
					- if controller_name == "photos"
						%p
							"Photos"
							%span= link_to "en", apartment_photos_path(:en, params[:apartment_id], params[:id])
							%span= link_to "pt", apartment_photos_path(:pt, params[:apartment_id], params[:id])
							%span= link_to "fr", apartment_photos_path(:fr, params[:apartment_id], params[:id])
					- if controller_name == "availability"
						%p
							"Bookings"
							%span= link_to "en", apartment_bookings_path(:en, params[:apartment_id], params[:id])							
							
		.container
			#content
				- flash.each do |name, msg|
					#flash
						= content_tag :div, msg, :class => "#{name}"
				= yield

		.container
			#footer
				= render 'shared/footer/copyright'
				
	= yield(:script)
				
	= render "shared/script/google_analytics"